/*
0-600px: phone;

600-900px: tablet-potarit

900-1200: tablet-landscape

1200-1800 is where our normal style apply

1800px+:big desktop
*/
.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 1.125rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}
@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

.primary-header {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

.secondary-header {
  font-size: 1rem;
  font-weight: 300;
}

.text {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: hsl(233, 8%, 62%);
}

.header {
  position: relative;
  z-index: 1;
}
.header nav {
  padding-inline: 5rem;
  margin-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .header nav {
    padding-inline: 1.5rem;
  }
}
.header__links {
  display: flex;
  justify-content: space-around;
}
.header__links a {
  color: hsl(233, 8%, 62%);
  font-size: 1rem;
  text-decoration: none;
  position: relative;
}
.header__links a:not(:last-child) {
  margin-right: 2rem;
}
.header__links a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  height: 4px;
  background-color: hsl(136, 65%, 51%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.header__links a:hover::after {
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .header button {
    display: none;
  }
}
.header__toggle {
  cursor: pointer;
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: hsl(233, 26%, 24%);
  transition: all 300ms ease-in-out;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header .open > span:first-child {
  transform: rotate(45deg) translate(5px);
}
.header .open > span:nth-child(2) {
  display: none;
}
.header .open > span:last-child {
  transform: rotate(-45deg) translate(5px);
}
.header__menu {
  position: absolute;
  top: 3.5rem;
  width: 95%;
  background-color: hsl(0, 0%, 100%);
  padding: 0;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  height: fit-content;
}
.header__menu a {
  color: hsl(233, 8%, 62%);
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px;
  text-align: center;
}

.hidden {
  display: none;
  opacity: 0;
  animation: vanish 3s ease-in-out;
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 5rem;
  padding-block: 3rem;
  align-items: center;
  background-color: hsl(233, 26%, 24%);
  color: hsl(0, 0%, 100%);
}
@media only screen and (max-width: 600px) {
  .footerGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content 1fr;
    padding-inline: 1.5rem;
    padding-block: 1rem;
  }
}

.footer__logo-social {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .footer__logo-social {
    align-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .footer__logo-social {
    justify-self: center;
  }
  .footer__logo-social--logo {
    text-align: center;
  }
}
.footer__logo-social--social-links img {
  padding-inline: 0.2rem;
}
@media only screen and (max-width: 600px) {
  .footer__logo-social--social-links img {
    padding-inline: 0.6rem;
  }
}
.footer__links ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3;
  font-size: 0.8rem;
  row-gap: 0.6rem;
}
@media only screen and (max-width: 600px) {
  .footer__links ul {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-block: 1rem;
  }
}
.footer__links ul li {
  color: hsl(0, 0%, 98%);
  justify-self: center;
}
.footer__buttons-rights {
  padding-right: 1.5rem;
  justify-self: end;
  align-self: start;
  text-align: end;
}
@media only screen and (max-width: 600px) {
  .footer__buttons-rights {
    justify-self: center;
    padding-right: 0;
    text-align: center;
  }
}

.btn {
  border: none;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  cursor: pointer;
}

.hero__container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
}
@media (min-width: 64em) {
  .hero__container {
    flex-direction: row-reverse;
    position: relative;
    align-items: center;
  }
}
.hero__image {
  min-height: 19.5rem;
  background-image: url("../assets/images/bg-intro-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 64em) {
  .hero__image {
    height: 40rem;
    flex: 3;
    background-image: url("../assets/images/bg-intro-desktop.svg");
    background-size: 120%;
    background-position: 15px -180px;
  }
}
.hero__image::after {
  content: "";
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/image-mockups.png");
  background-position: 0% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 64em) {
  .hero__image::after {
    background-image: none;
    background-size: 85%;
    background-position: 200px -120px;
  }
}
.hero__text {
  padding: 1.5rem;
  text-align: center;
}
@media (min-width: 64em) {
  .hero__text {
    height: 30rem;
    flex: 1.5;
    text-align: start;
    padding-left: 5rem;
    line-height: 1.5;
  }
  .hero__text h1 {
    padding-right: 9rem;
  }
  .hero__text p {
    padding-right: 3rem;
  }
}

.why {
  padding: 5rem;
  background-color: hsl(220, 16%, 96%);
  position: relative;
}
.why div {
  margin-top: 30px;
}
@media (min-width: 64em) {
  .why {
    margin-top: -100px;
    z-index: -1;
  }
}
@media only screen and (max-width: 600px) {
  .why {
    padding: 1.5rem;
    text-align: center;
  }
  .why h1 {
    padding-inline: 3rem;
  }
  .why p {
    padding-inline: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .why {
    padding: 1.5rem;
  }
}
.why__card {
  padding-right: 1rem;
}
@media only screen and (max-width: 600px) {
  .why__card {
    padding-right: 0;
  }
}

.article {
  padding: 5rem;
  background-color: hsl(0, 0%, 98%);
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .article {
    padding: 1.5rem;
    text-align: center;
  }
}
.article__card {
  width: 15rem;
  height: 25rem;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .article__card {
    justify-self: center;
    width: 95%;
  }
}
.article__card--img {
  width: 100%;
  height: 50%;
}
.article__card--img img {
  width: 100%;
  height: 100%;
}
.article__card--description {
  text-align: start;
  padding: 1rem;
}
.article__card--author {
  font-size: 0.8rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}
.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.container--pt {
  padding-top: 4.375rem;
}
@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}
.container--pl {
  padding-left: 1.5rem;
}

.mb-small-1 {
  margin-bottom: 0.5rem;
}

.mb-small {
  margin-bottom: 1.5rem;
}

.mb-large {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 37.5em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}
