body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 1.125rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mb-small-1 {
  margin-bottom: 0.5rem;
}

.mb-small {
  margin-bottom: 1.5rem;
}

.mb-large {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.primary-header {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

.secondary-header {
  font-size: 1rem;
  font-weight: 300;
}

.text {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: hsl(233, 8%, 62%);
}

header {
  padding-inline: 5rem;
  margin-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 100;
}
@media only screen and (max-width: 600px) {
  header {
    padding-inline: 1.5rem;
  }
}
header ul {
  display: flex;
  justify-content: space-around;
}
header ul li {
  color: hsl(233, 8%, 62%);
  font-size: 1rem;
}
header ul li:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 39.9375em) {
  header ul {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  header button {
    display: none;
  }
}
header .mobile-menu {
  position: absolute;
  top: 3.5rem;
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin-left: 0.2rem;
  padding: 0;
  opacity: 1;
  border-radius: 5px;
  animation: appear 3s ease-in-out;
}
header .mobile-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .mobile-menu ul li {
  padding: 1rem;
  margin: 0;
  color: hsl(233, 26%, 24%);
}
header .mobile-menu__button {
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 600px) {
  header .mobile-menu__button {
    display: block;
  }
}
header .hidden {
  display: none;
  opacity: 0;
  animation: vanish 3s ease-in-out;
}

@keyframes vanish {
  from {
    display: block;
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}
@keyframes appear {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
.footerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 5rem;
  padding-block: 3rem;
  align-items: center;
  background-color: hsl(233, 26%, 24%);
  color: hsl(0, 0%, 100%);
}
@media only screen and (max-width: 600px) {
  .footerGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content 1fr;
    padding-inline: 1.5rem;
    padding-block: 1rem;
  }
}

.footer__logo-social {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .footer__logo-social {
    align-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .footer__logo-social {
    justify-self: center;
  }
  .footer__logo-social--logo {
    text-align: center;
  }
}
.footer__logo-social--social-links img {
  padding-inline: 0.2rem;
}
@media only screen and (max-width: 600px) {
  .footer__logo-social--social-links img {
    padding-inline: 0.6rem;
  }
}
.footer__links ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3;
  font-size: 0.8rem;
  row-gap: 0.6rem;
}
@media only screen and (max-width: 600px) {
  .footer__links ul {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-block: 1rem;
  }
}
.footer__links ul li {
  color: hsl(0, 0%, 98%);
  justify-self: center;
}
.footer__buttons-rights {
  padding-right: 1.5rem;
  justify-self: end;
  align-self: start;
  text-align: end;
}
@media only screen and (max-width: 600px) {
  .footer__buttons-rights {
    justify-self: center;
    padding-right: 0;
    text-align: center;
  }
}

.btn {
  border: none;
  padding: 1rem 1.875rem;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  cursor: pointer;
}

.intro {
  display: grid;
  height: 665px;
  grid-template-columns: 1fr 1fr;
  padding-left: 5rem;
  background-color: hsl(0, 0%, 98%);
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 0;
  }
}
.intro__description {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 16rem;
}
@media only screen and (max-width: 600px) {
  .intro__description {
    grid-row: 2/-2;
    padding-right: 0;
    padding-inline: 2rem;
    text-align: center;
  }
  .intro__description h1 {
    padding-inline: 3rem;
  }
}
.intro__mockup {
  position: relative;
}
.intro__mockup--background {
  position: absolute;
  right: -30rem;
  top: -17rem;
}
@media only screen and (max-width: 600px) {
  .intro__mockup--background {
    inset: 0;
  }
}
.intro__mockup--img {
  position: absolute;
  top: -8rem;
  right: -8rem;
}
@media only screen and (max-width: 600px) {
  .intro__mockup--img {
    right: 0;
    width: 100%;
  }
}
.intro button {
  width: fit-content;
}

.why {
  padding: 5rem;
  background-color: hsl(0, 0%, 98%);
}
@media only screen and (max-width: 600px) {
  .why {
    padding: 1.5rem;
    text-align: center;
  }
  .why h1 {
    padding-inline: 3rem;
  }
  .why p {
    padding-inline: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .why {
    padding: 1.5rem;
  }
}
.why__card {
  padding-right: 1rem;
}
@media only screen and (max-width: 600px) {
  .why__card {
    padding-right: 0;
  }
}

.article {
  padding: 5rem;
  background-color: hsl(0, 0%, 98%);
}
@media only screen and (max-width: 600px) {
  .article {
    padding: 1.5rem;
    text-align: center;
  }
}
.article__card {
  width: 15rem;
  height: 25rem;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .article__card {
    justify-self: center;
    width: 95%;
  }
}
.article__card--img {
  width: 100%;
  height: 50%;
}
.article__card--img img {
  width: 100%;
  height: 100%;
}
.article__card--description {
  text-align: start;
  padding: 1rem;
}
.article__card--author {
  font-size: 0.8rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
}
