.footerGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    padding-inline: $padding-inline;
    padding-block: 3rem;
    align-items: center;
    background-color: $color-dark-blue;
    color:$color-white;
    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr max-content 1fr;

        padding-inline: $padding-inline-mobile;
        padding-block: 1rem;
    }
}

.footer {



    &__logo-social{
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 600px) {
            align-content: center;
        }
        @media only screen and (max-width: 600px) {
            justify-self: center;

            &--logo{

                text-align: center;
            }
        }

        &--social-links{
            & img{
                padding-inline: 0.2rem;
                @media only screen and (max-width: 600px) {

                    padding-inline: 0.6rem;
                }
            }
        }
    }


    &__links{
        & ul{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 3;
            font-size: 0.8rem;
            row-gap: 0.6rem;
            @media only screen and (max-width: 600px) {
                grid-template-columns: 1fr;
                justify-content: center;
                margin-block: 1rem;

            }
            & li{
                color:$color-grey-light-1;
                justify-self: center;
            }


        }

    }

    &__buttons-rights{
      padding-right: 1.5rem;
        justify-self: end;
        align-self: start;
         text-align: end;
         @media only screen and (max-width: 600px) {
            justify-self: center;
            padding-right: 0;
            text-align: center;

        }

    }
}