.header {
    position: relative;
    z-index: 1;


    nav {
        padding-inline: $padding-inline;
        margin-block: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 100%;
        position: relative;
        z-index: 1;
        @media only screen and (max-width: 600px) {
            padding-inline: $padding-inline-mobile;
        }
    }
    &__links {
        display: flex;
        justify-content: space-around;
        & a {
            color: $color-grey-light-3;
            font-size: 1rem;
            text-decoration: none;
            position: relative;
            &:not(:last-child) {
                margin-right: 2rem;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -30px;
                height: 4px;
                background-color: $color-lime-green;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }
            &:hover //   ::after
                {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    & button {
        @media only screen and (max-width: 600px) {
            display: none;
        }
    }
    &__toggle {
        cursor: pointer;
        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $color-dark-blue;
            transition: all 300ms ease-in-out;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    .open {
        >span:first-child {
            transform: rotate(45deg) translate(5px);
        }
        &>span:nth-child(2) {
            display: none;
        }
        >span:last-child {
            transform: rotate(-45deg) translate(5px);
        }
    }
    &__menu {
        position: absolute;
        top: 3.5rem;
        width: 95%;
        background-color: $color-white;
        padding: 0;
        opacity: 1;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        height: fit-content;
        a {
            color: $color-grey-light-3;
            font-size: 1rem;
            text-decoration: none;
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
        }
    }
}
.hidden {
    display: none;
    opacity: 0;
    animation: vanish 3s ease-in-out;
}

// .overlay {
//     background-image: linear-gradient($color-dark-blue, transparent);
//     position: fixed;
//     inset: 0;
//     height: 100vh;
//     z-index: -1;



// }