.btn{
    border: none;
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    color:$color-white;
    font-weight:$fw-bold;
    background-image: linear-gradient(to right,$color-lime-green,$color-bright-cyan);
    cursor: pointer;

}