body{
    font-family: $ff-primary;
    box-sizing: border-box;
    font-size: $default-font-size;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}