.primary-header{

    font-weight: $fw-regular;
    color:$color-dark-blue;
    // font-size: 1.6rem;
}
.secondary-header{
    font-size: 1rem;
    font-weight: $fw-regular;
}
.text{
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: $color-grey-light-3;

}